
.moviecontainer{
width:60%;
min-width:60%;
max-width:60%;
min-height:70vh;
max-height:70vh;
height:70vh;
margin-top:100px;
margin-left:auto;
margin-right:auto;

}

@media screen and (max-width: 768px) {

.moviecontainer{
width:100%;
min-width:100%;
max-width:100%;
min-height:400px;
max-height:400px;
height:400px;

}

#movie-chart{
width:100%;
}
}